@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.grad:active, .grad:focus, .grad:focus-visible, .grad:focus-within {
    border: 1px solid;
    -webkit-background-image: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    -moz-background-image: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    -o-background-image: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    background-image: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));

    background-origin: border-box;
    background-clip: content-box, border-box;
}

.bg-purpleImg {
    background-image: url('/img/bg-main-desktop.png');
    background-size: cover;
    background-repeat: no-repeat;
}


@media (max-width: 539px) {
    .bg-purpleImg {
    background-image: url('/img/bg-main-mobile.png');
    background-size: 100%;
    background-repeat: repeat-x;
    margin-bottom: 23em;
    }

    /* .m-front {
        position: absolute;
        transform: scale(.85);
        left: .15em;
        top: 8.7em;
    }

    .m-back {
        position: absolute;
        transform: scale(.9);
        left: 9em;
        top: 1.7em;
    } */

   
}

@media only screen and (max-width: 375px) {

    .m-front {
        position: absolute;
        transform: scale(.75);
        left: -2em;
        top: 8em;
    }

    .m-back {
        position: absolute;
        transform: scale(.95);
        left: 6.5em;
        top: 4em;
    }

    #cvc {
        position: absolute;
        top: 3.8em;
        right: 2.2em;
    }
}

@media (min-width: 376px) and (max-width: 390px) {

    .m-front {
        position: absolute;
        transform: scale(.75);
        left: -2.5em;
        top: 8em;
    }

    .m-back {
        position: absolute;
        transform: scale(.95);
        left: 6.5em;
        top: 3.5em;
    }

    #cvc {
        position: absolute;
        top: 4em;
        right: 2.2em;
    }
}

@media (min-width: 391px) and (max-width: 414px) {

    .m-front {
        position: absolute;
        transform: scale(.80);
        left: -2.2em;
        top: 8em;
    }

    .m-back {
        position: absolute;
        transform: scale(.95);
        left: 7em;
        top: 2.8em;
    }

    #cvc {
        position: absolute;
        top: 4.5em;
        right: 2.2em;
    }
}

@media (min-width: 415px) and (max-width: 540px) {

    .bg-purpleImg {
        background-image: url('/img/bg-main-mobile.png');
        background-size: auto;
        background-repeat: repeat-x;
        margin-bottom: 23em;
    }

    .m-front {
        position: absolute;
        transform: scale(.80);
        left: 1em;
        top: 7em;
    }

    .m-back {
        position: absolute;
        transform: scale(.80);
        left: 7em;
        top: -1.8em;
    }

    #cvc {
        position: absolute;
        top: 6.5em;
        right: 3em;
    }
}


@media (min-width: 541px) and (max-width: 820px) {

    .bg-purpleImg {
        background-image: url('/img/bg-main-mobile.png');
        background-size: 70%;
        background-repeat: repeat-x;
        margin-bottom: 23em;
    }

    .m-front {
        transform: scale(1);
        position: absolute;
        left: 3em;
        top: 10em;
    }

    .m-back {
        transform: scale(1);
        position: absolute;
        left: 10em;
        top: 1.2em;
    }

    #cvc {
        position: absolute;
        top: 6.5em;
        right: 3em;
    }
}


@media (min-width: 821px) and (max-width: 1023px) {

    .bg-purpleImg {
        background-image: url('/img/bg-main-mobile.png');
        background-size: 70%;
        background-repeat: repeat-x;
        margin-bottom: 20em;
    }

    .m-front {
        transform: scale(1.2);
        position: absolute;
        left: 5em;
        top: 15em;
    }

    .m-back {
        transform: scale(1.2);
        position: absolute;
        left: 10em;
        top: 10em;
    }

    #cvc {
        position: absolute;
        top: 6.8em;
        right: 3em;
    }
}


@media (min-width: 1024px) and (max-width: 1279px) {

    .m-front {
        position: absolute;
        left: 2em;
        top: 5em;
    }

    .m-back {
        position: absolute;
        left: 5em;
        top: 21em;
    }
}
