@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.grad:active, .grad:focus, .grad:focus-visible, .grad:focus-within {
    border: 1px solid;
    -webkit-background-image: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    -moz-background-image: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    -o-background-image: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    background-image: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));

    background-origin: border-box;
    background-clip: content-box, border-box;
}

.bg-purpleImg {
    background-image: url('../public/img/bg-main-desktop.png');
    background-size: cover;
    background-repeat: no-repeat;
}


@media (min-width: 375px) and (max-width: 768px) {
    .bg-purpleImg {
    background-image: url('../public/img/bg-main-mobile.png');
    background-size: auto;
    background-repeat: repeat-x;
    margin-bottom: 20rem;
    }
}